$error-color: #cc0033;

.wrapper {
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 60px;
}

.title-text {
  display: flex;
  justify-content: center;
  font-size: 400%;
  font-family: "Cambria, Cochin, Georgia, Times, 'Times New Roman', serif";
}

.error {
  background-color: #fce4e4;
  border: 1px solid $error-color;
  outline: none;
}

.form-group {
  .error-message {
    color: $error-color;
    font-size: 0.6em;
  }
}

.disabled-control {
  background-color: lightgray;
  pointer-events: none;
}

.footer {
  border-top-style: "double";
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: lightgray;
}

.total {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}

.sum {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 10px;
}

.total-red {
  display: flex;
  align-items: center;
  justify-content: center;
  color: red;
}

.del-btn{
  display: flex;
  justify-content: end;
  align-items: flex-start;
}
