<div class="wrapper">
  <div class="pt-3 pb-3 email-section">
    <h3>Please inform your email</h3>
    <div class="col-3">
      <input class="form-control" id="input-email" type="email" />
    </div>
  </div>

  <button class="mb-3 btn btn-primary" (click)="vedqOnAddNewCategory()">
    Add New Category
  </button>

  <div [formGroup]="vedqGroup">
    <ng-container formArrayName="categories">
      <div
        class="mb-3 card"
        *ngFor="let category of vedqCategories?.controls; let cateIndex = index"
      >
        <div class="card-body">
          <div [formGroupName]="cateIndex">
            <div class="form-group">
              <div class="row">
                <div class="col-lg-3 col-3">
                  <div class="form-group form-group-lg">
                    <h5 class="pb-2">Select Category</h5>
                    <select
                      (ngModelChange)="onChangeCategory($event, cateIndex)"
                      formControlName="cate"
                      class="form-select"
                      aria-label="Default select example"
                    >
                      <option
                        *ngFor="let item of listCategory"
                        [value]="item.id"
                      >
                        {{ item.category }}
                      </option>
                    </select>
                  </div>
                  <br />
                </div>
              </div>
            </div>

            <button
              class="mb-3 btn btn-primary"
              [disabled]="!vedqCategories.at(cateIndex).get('cate')?.value"
              (click)="vedqOnAddDevice(cateIndex)"
            >
              Add New Devices
            </button>

            <div [formArrayName]="CATEGORY_FIELDS.DEVICES">
              <div
                *ngFor="
                  let device of vedqDeviceByCategoryIndex(cateIndex)?.controls;
                  let deviceIndex = index
                "
              >
                <div class="mb-3 card" [formGroupName]="deviceIndex">
                  <div class="card-body">
                    <div class="form-group">
                      <div class="row">
                        <div class="col-lg-3 col-3">
                          <div class="form-group form-group-lg">
                            <h5 class="pb-2">Select Device</h5>
                            <select
                              class="form-select"
                              aria-label="Default select example"
                              formControlName="device"
                              (change)="onDeviceChange(deviceIndex, cateIndex)"
                            >
                              <option value="" selected disabled hidden>
                                Select Device
                              </option>
                              <option
                                *ngFor="
                                  let item of deviceMap.get(category.value.cate)
                                "
                                [value]="item.deviceId"
                              >
                                {{ item.name }}
                              </option>
                            </select>
                          </div>
                          <br />
                        </div>

                        <div class="col-lg-3 col-3">
                          <div class="form-group form-group-lg">
                            <h5 class="pb-2">Select Hours</h5>
                            <input
                              [class.error]="
                                vedqDeviceByCategoryIndex(cateIndex)
                                .at(deviceIndex)
                                .get('hour')?.invalid
                              "
                              formControlName="hour"
                              type="number"
                              class="form-control"
                              aria-label="Sizing example input"
                              aria-describedby="inputGroup-sizing-sm"
                            />
                            <span
                              class="error-message"
                              *ngIf="
                                vedqDeviceByCategoryIndex(cateIndex)
                                  .at(deviceIndex)
                                  .get('hour')?.invalid
                              "
                            >
                              {{
                                getMinMaxErrorMessage(
                                  vedqCategories.at(cateIndex).get("cate")
                                    ?.value
                                )
                              }}
                            </span>
                          </div>
                          <br />
                        </div>

                        <div class="col-lg-3 col-3">
                          <div class="form-group form-group-lg">
                            <h5 class="pb-2">Power</h5>
                            <input
                              class="form-control disabled-control"
                              aria-label="Sizing example input"
                              aria-describedby="inputGroup-sizing-sm"
                              formControlName="power"
                            />
                          </div>
                          <br />
                        </div>

                        <div class="col-lg-3 col-3">
                          <div class="form-group form-group-lg">
                            <h5 class="pb-2">%</h5>
                            <input
                              class="form-control disabled-control"
                              aria-label="Sizing example input"
                              aria-describedby="inputGroup-sizing-sm"
                              formControlName="percent"
                            />
                          </div>
                          <br />
                        </div>

                        <!-- <div class="col-lg-3 col-3">
                        <div class="form-group form-group-lg">
                          <h5 class="pb-2">Hours</h5>
                          <input
                            disabled
                            type="number"
                            min="0"
                            class="form-control"
                            aria-label="Sizing example input"
                            aria-describedby="inputGroup-sizing-sm"
                          />
                        </div>
                        <br />
                      </div>
    
                      <div class="col-lg-3 col-3">
                        <div class="form-group form-group-lg">
                          <h5 class="pb-2">Power</h5>
                          <input
                            class="form-control"
                            aria-label="Sizing example input"
                            aria-describedby="inputGroup-sizing-sm"
                          />
                        </div>
                        <br />
                      </div>
    
                      <div class="col-lg-3 col-3">
                        <div class="form-group form-group-lg">
                          <h5 class="pb-2">%</h5>
                          <input
                            disabled
                            type="number"
                            min="0"
                            class="form-control"
                            aria-label="Sizing example input"
                            aria-describedby="inputGroup-sizing-sm"
                          />
                        </div>
                        <br />
                      </div> -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
