$error-color: #cc0033;

.wrapper {
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 60px;
}

.title-text {
  display: flex;
  justify-content: center;
  font-size: 500%;
}

.error {
  background-color: #fce4e4;
  border: 1px solid $error-color;
  outline: none;
}

.form-group {
  .error-message {
    color: $error-color;
    font-size: 0.6em;
  }
}

.disabled-control {
  background-color: lightgray;
  pointer-events: none;
}
